<!-- List of notes -->

<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4">

    <md-toolbar>
        <div class="md-toolbar-tools" ng-show="!vm.showSearch">
            <h3>
                Notes
            </h3>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Search" ng-click="vm.showSearch = !vm.showSearch">
                <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Add Note" ng-click="vm.addNote()">
                <ng-md-icon icon="add"></ng-md-icon>
            </md-button>
        </div>
        <div class="md-toolbar-tools" ng-show="vm.showSearch">
            <md-button class="md-icon-button" ng-click="vm.showSearch = !vm.showSearch" aria-label="Back">
                <ng-md-icon icon="arrow_back"></ng-md-icon>
            </md-button>
            <md-input-container class="no-margin-top no-margin-bottom" flex style="margin-top:25px;">
                <label>Search</label>
                <input ng-model="vm.search">
            </md-input-container>
            <md-button class="md-icon-button" aria-label="Search" ng-click="vm.search()">
                <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
        </div>
        <md-tabs md-stretch-tabs="always" class="md-primary" md-selected="data.selectedIndex">
            <md-tab id="tab1" aria-controls="tab1-content" ng-click="vm.showFavourites = false">
                All
            </md-tab>
            <md-tab id="tab2" aria-controls="tab2-content" ng-click="vm.showFavourites = true">
                Favorites
            </md-tab>
        </md-tabs>
    </md-toolbar>
    <md-content>
        <md-list ng-repeat="group in vm.notes">
            <md-subheader>{{ group.name }} ({{ group.notes.length }})</md-subheader>

            <md-list-item ng-repeat="note in group.notes  | filter: (vm.showFavourites || '') && { favourite: 1 } | orderBy:'closed'" class="md-2-line" ng-class="{'note-closed':note.closed}" ng-click="vm.note = note">
                <img ng-if="vm.settings.show_images" ng-src="{{ note.image || 'assets/images/note.png' }}" class="md-avatar" />
                <div class="md-list-item-text" layout="column">
                    <h3 md-truncate>{{ note.title }}</h3>
                    <h4 md-truncate>{{ note.subtitle }}</h4>
                    <p md-truncate>{{ note.body }}</p>
                </div>
                <ng-md-icon ng-if="note.closed" icon="check"></ng-md-icon>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-content>

</md-sidenav>

<!-- Note detail -->
<md-content flex>
    <!-- Current open Note -->
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <md-input-container class="no-margin-bottom">
                    <label>Title</label>
                    <input ng-model="vm.note.title">
                </md-input-container>
                <md-input-container class="no-margin-bottom no-margin-top">
                    <label>Subtitle</label>
                    <input ng-model="vm.note.subtitle">
                </md-input-container>
            </md-card-title-text>
            <md-card-avatar>
                <img ng-src="{{ note.image || 'assets/images/note.png' }}" width="64" height="64">
            </md-card-avatar>
        </md-card-title>

        <md-card-content layout="column">
            <md-input-container flex>
                <label>Content</label>
                <textarea ng-model="vm.note.body" rows="5" class="md-block"></textarea>
            </md-input-container>

            <div layout="row">
                <md-input-container class="md-block" flex-gt-sm flex>
                    <label>Add to Group</label>
                    <md-select ng-model="note.group">
                        <md-option ng-repeat="group in vm.notes" value="{{group.id}}">
                            {{group.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>Due Date</label>
                    <md-datepicker ng-model="note.due_date"></md-datepicker>
                </md-input-container>
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">

            <md-button>{{ vm.note.closed ? 'Open' : 'Close' }}</md-button>
            <md-button>Delete</md-button>
            <md-button>Save</md-button>
        </md-card-actions>
    </md-card>
</md-content>