/* app css stylesheet */

md-backdrop,
md-sidenav {
    position: fixed;
}

.note-closed {
    opacity: 0.5;
}

.note-selected {
    background: lightgrey;
}

ng-md-icon {
    line-height: 1;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.no-margin-top {
    margin-top: 0px;
}